/**
 * Place your custom styles here.
 */

/*******************
 HEADER */

body {
 	margin-top: 0;
}

h1 {
	font-size: 26px;
}

h2, h3 {
	font-size: 20px;
}

div.page-top {
	background-color: #dddddd;
	height: 40px;
}

div.region-top {
	margin-left: auto;
	margin-right: auto;
	max-width: 1140px;
}

#block-languageswitcher-3 {
	float: left;
    margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

#block-languageswitcher-3 ul {
	list-style: none;
	padding-left: 0;
}

#block-languageswitcher-3 li {
	float: left;
	padding-right: 10px;
}

#block-languageswitcher-3 li a {
	color: #aaa;
}

#block-languageswitcher-3 li a.is-active {
	color: #000;
}

#block-socialmenu-3 {
	float: right;
	font-weight: bold;
}

#block-socialmenu-3 ul {
	list-style: none;
	padding-left: 0;
}

#block-socialmenu-3 li {
	float: left;
	padding-right: 10px;
}

/*@media screen and (min-width:768px) {
	.navbar.container {
		max-width:720px
	}
}
@media screen and (min-width:992px) {
	.navbar.container { 
		max-width:940px
	}
}
@media screen and (min-width:1200px) {
	.navbar.container {
		max-width:1140px
	}
}*/

.navbar-default .navbar-text {
    clear: both;
    float: left;
    font-size: 23px;
    margin: 0;
    color: #000;
}

.navbar-btn {
    margin: 10px 0 0 0;
}

.navbar-collapse {
	padding: 0;
}

#block-gridspinoza-search {
	float: right;
	width: 200px;
}

/*******************
 MENU */

header.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

header.container {
	padding: 0;
}

.navbar-header {
	width: 100%;
}

#block-gridspinoza-main-menu ul.navbar-nav {
	display: table;
	/* table-layout: fixed; */
	width: 100%;
	border-bottom: 2px #cf3b3b solid;
}

#block-gridspinoza-main-menu ul.navbar-nav li {
	display: table-cell;
	float: none;
	width: 14.2857%;
}

#block-gridspinoza-main-menu ul.navbar-nav li a {
	color: #aaa;
	padding-left: 0;
	padding-right: 0;
}

#block-gridspinoza-main-menu ul.navbar-nav li a.is-active, #block-gridspinoza-main-menu ul.navbar-nav li.active a {
	color: #000;
	background-color: transparent;
}

/*******************
 SIDEBAR */

div.region-sidebar-second {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

h1.page-header, div.region-sidebar-second h2.block-title {
	text-transform: uppercase;
	background-image: url("line.png");
	background-position: left bottom;
	background-repeat: no-repeat;
	padding-bottom: 10px;
}

h2.block-title {
	margin-top: 5px;
}

div.region-sidebar-second ul {
	list-style: none;
	padding-left: 0;
}

div.region-sidebar-second li {
	line-height: 1.5;
	padding-bottom: 10px;
}

div.region-sidebar-second a {
	color: #000;
}

aside.col-sm-3 {
	float: right;
}

.region-sidebar-second h3 {
	display: none;
}

#block-gridspinoza-views-block-programs-block-1 span.Open {
	color: #0f0;
}

#block-gridspinoza-views-block-programs-block-1 span.Closed {
	color: #f00;
}

/*******************
 CONTENT */

h1.page-header {
	border-bottom: none;
}

.page-node-25 h2, .page-node-236 h2, .path-activities h2, .path-partners caption {
    text-transform: uppercase;
    font-size: 26px;
    background-image: url("line.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    padding-bottom: 10px;
	margin-top: 20px;
}

.path-partners caption {
	margin-top: 0;
	color: #000;
}

.page-node-25 h3 a, .path-activities h3 a, .path-resources h3 a, .path-research-fields h3 a,
.path-researchers h3 a, .path-programs h3 a, .path-partners h3 a, .path-frontpage h3 a,
.page-node-type-partner h3 a, .page-node-type-research-field h3 a, .page-node-type-program h3 a {
	color: #cf3b3b;
	margin-top: 30px;
	text-transform: uppercase;
}

.page-node-25 h1.page-header, .page-node-236 h1.page-header, .path-partners h1.page-header {
	display: none;
}

.path-researchers img, .path-research-fields img, .path-programs img, 
.page-node-type-researcher .field--name-field-image img {
	float: left;
	margin-right: 20px;
}

.page-node-type-researcher .field--name-field-image img {
	margin-bottom: 50px;
}

.path-frontpage h3, .page-node-type-partner h3, .page-node-type-research-field h3, .page-node-type-program h3 {
	margin-bottom: 0;
}

.path-researchers h3 {
	margin-top: 0;
}

div.project-researcher {
	margin-bottom: 10px;
}

div.project-researcher a {
	color: #000;
	text-decoration: underline;
}

/*span.project-btn*/
.views-field-view-node {
	text-align: right;
	margin-bottom: 40px;
}

.views-col {
	padding-right: 100px;
}

.path-researchers .views-row {
	margin-top: 40px;
}

.field--name-field-funders h2,
.field--name-field-resource h2 {
	font-size: 14px;
}

/*.field--name-field-funders .field--item, */
.field--name-field-resource .field--item {
	width: 210px;
	float: left;
	min-height: 80px;
	padding-right: 10px;
}

/*.field--name-field-funders, .field--name-field-funders .field__items, */
.field--name-field-resource, .field--name-field-resource .field__items {
	clear: left;
}

.page-node-type-program .view-projects-by-program, 
.page-node-type-research-field .view-projects-by-research-field {
	clear: both;
	margin-top: 60px;
}

.page-node-type-researcher .views-element-container, .page-node-type-research-field .views-element-container {
	clear: both;
}

.page-node-type-project article .views-element-container,
.page-node-type-event article .field--name-field-images {
	float: left;
	width: 375px;
	margin-bottom: 100px;
}

.page-node-type-research-field article .field--name-field-image {
	float: left;
	width: 375px;
}

.page-node-type-research-field article .field--name-field-image-caption {
	float: left;
	width: 325px;
	clear: both;
}

.page-node-type-research-field article  div.field--name-body {
	padding-left: 375px;
}

.page-node-type-project #resource-list .views-element-container {
	width: 100%;
}

.page-node-type-project .field--name-body,
.page-node-type-event .field--name-body {
	clear: left;
}

.page-node-type-project .field--name-body {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-moz-column-gap: 2em;
	-webkit-column-gap: 2em;
	column-gap: 2em;
}

.page-node-type-program .field--name-body, 
.page-node-type-partner .field--name-body, 
.page-node-type-researcher .field--name-body,
.page-node-type-call .field--name-body {
	padding-bottom: 30px;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-width: none;
}

.pagination > li > a, .pagination > li > span {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active {
    background-color: #ccc;
    border-color: #ccc;
}

body.page-node-type-partner .view-programs-by-partner .views-row {
	float: left;
	margin-right: 4px;
}

.view-projects-by-partner h2, 
.view-projects-by-researcher h2 {
	margin-top: 50px;
}

.view-resources-by-research-field h2 {
	margin-top: 100px;
}

/*******************
 FOOTER */

footer {
	background-color: #dddddd;
	border-top: none;
}

footer.container {
	width: 100%;
}

footer img {
	width: 60%;
	height: 60%;
}

.col {
    float: left;
    width: 20%;
    padding-right: 10px;
}

/******************
 MEDIA QUERIES
 */

@media screen and (max-width:768px) {
	#block-gridspinoza-main-menu ul.navbar-nav li {
		display: block;
	}

	.navbar-nav {
    	margin-left: 15px;
	}

	.navbar-nav > li > a {
	    padding: 0;
	}

	.views-col {
		width: auto !important;
		padding-right: 0px;
	    padding-bottom: 20px;
	}

	.view-content .table .priority-low {
		display: none;
	}

	.table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td {
	    white-space: normal;
	}
}